<!DOCTYPE html>
<html>
  <head>
    <title>munandCo</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "mun and Co.", root_path, class: "name" %>
      <nav>
        <a href="#">HOME</a>
        <%= link_to "POSTS", posts_path %>
        <a href="#">PROJECTS</a>
        <a href="#">CONTACT</a>
      </nav>
    </header>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy;2017 mun and Co.</p>
      <nav>
        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="http://github.com/" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
